@{
    ViewBag.Title = "Home Page";
}

<div class="Titulo">
    <h1>Bienvenido</h1>
    <p class="lead">SIGC es una aplicación web que le permitirá gestionar cierta información documental.</p>    
</div>
