@{
    ViewBag.Title = "Administración de Datos de Documento";
    Layout = "~/Views/Shared/_LayoutSiggo.cshtml";
}

<h2>Administración de Datos de Documento</h2>
<div>
    @Html.ActionLink("Crear Dato", "Editar", "Dato")
</div>