<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Siggo.SIGC.DataAccess.Properties.Settings.SiggoDataConnectionString"
            connectionString="Data Source=LAP-LENOVO;Initial Catalog=SiggoData;Persist Security Info=True;User ID=sa;Password=09346670"
            providerName="System.Data.SqlClient" />
        <add name="Siggo.SIGC.DataAccess.Properties.Settings.SiggoDataConnectionString1"
            connectionString="Data Source=LAP-LENOVO;Initial Catalog=SiggoData;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Siggo.SIGC.DataAccess.Properties.Settings.SiggoDataConnectionString2"
            connectionString="Data Source=LAP-LENOVO;Initial Catalog=SiggoData;Persist Security Info=True;User ID=usr_siggo"
            providerName="System.Data.SqlClient" />
        <add name="Siggo.SIGC.DataAccess.Properties.Settings.SiggoDataConnectionString3"
            connectionString="Data Source=LAP-LENOVO;Initial Catalog=SiggoData;Persist Security Info=True;User ID=usr_siggo;Password=SGwnt@2017"
            providerName="System.Data.SqlClient" />
        <add name="Siggo.SIGC.DataAccess.Properties.Settings.SiggoDataConnectionString4"
            connectionString="Data Source=PCSIS002\SQLEXPRESS;Initial Catalog=SiggoData;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Siggo.SIGC.DataAccess.Properties.Settings.SiggoDataConnectionString5"
            connectionString="Data Source=.;Initial Catalog=SiggoData;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>